{% extends 'base.html' %}{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css">
{% endblock styles%}
<!-- Content block -->
{% block content %}
<style>
  .parallax {
    /* The image used */
    background-image: url("../static/images/drivers.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #Do{
  font-family: 'Inconsolata', serif;
  text-align: center;
  padding-top: 40px;
}

  .Do .headings{
  padding-bottom: 38px;
}

  </style>

<div class="parallax"></div>

<div class="container" id="Do" style="background-color: orange;">
  <div class="text-center" style="background-color: orange;">
    <h1 style="float: center; font-weight: bold; font-size: 40px;">Why Us?</h1>
    <p style="float: center; font-size: 20px; font-family: 'Times New Roman', Times, serif;">SafeBoda is a community of entrepreneurs and boda drivers is revolutionizing transportation, payments, and on-demand services</br>
   Africa’s cities and believes that everyone in African cities should have access to affordable services at a click of a button.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div id="development-image">
        <img src="../static/images/safe.png" style="width: 350px; height: 266px;">
      </div>
        <h2 class="title">Safe</h2>
        <p>Ride with trained, trusted drivers, each equipped with a spare helmet</p>
    </div>

    <div class="col-md-4">
      <div id="development-image">
        <img src="../static/images/newfair.png" style="width: 350px; height: 266px;">
      </div>
        <h2 class="title">Fair</h2>
        <p>Get a fair price every time with no hassle bargaining</p>
    </div>

    <div class="col-md-4">
      <div id="development-image">
        <img src="../static/images/convenient.png" style="width: 350px; height: 266px;">
      </div>
        <h2 class="title">Convenient</h2>
        <p>Top up your Cashless using mobile money and go cashless</p>
    </div>
  </div>
</div>

<div class="container" style="font-size: 20px; font-family: 'Times New Roman', Times, serif; font-size: 15px;">

  <img src="../static/images/Picture of riders.jpg" style="float:right; width: 350px; height: 210px; margin-top: 30px; margin-right: 100px;">

  <h1>Our SafeBoda Drivers</h1>
  <p>Our community of SafeBoda drivers all receive extensive training to make them</br>
     the safest and most professional drivers on the streets.</p>
  <ul>
    <li>Trained in road safety, first aid, bike maintenance and customer care</li>
    <li>Equipped with hairnets and a spare helmet</li>
    <li>Identifiable and trackable through our system</li>
  </ul>
  <p>When drivers join the SafeBoda community they see significant increase in their</br>
     business providing impact to themselves, their family and the wider community.</p>   
</div>
{% endblock %}

