{% extends 'base.html' %}{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css">
{% endblock styles%}
<!-- Content block -->
{% block content %}
<div class="text-center">
    <img style="width: 100%; height: 88vh; object-fit: cover; " src="{{url_for('static', filename='images/bodaboda.jpg')}}" />
    <div class="text-content">
        
    </div>
</div>
  <footer class="footer mt-4">
    <div class="social-icons">
      <i class="fa fa-2x fa-facebook"></i>
      <i class="fa fa-2x fa-twitter"></i>
      <i class="fa fa-2x fa-instagram"></i>
    </div>
    <p class="text-center pt-2">Copyright &copy; 2020 Design by Safe boda Group</p>
  </footer>
{% endblock %}
