{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="container">
              <div class="row">
                <br>
                <hr> <br>
                <div class="card" style="position: relative">
                  <div class="card-header">
                    <div class="card-title">
                      <h2>Quote of the day..</h2>
                    </div>
                  </div>
                  <div class="card-body">
                    <h2 class="quoted-author">{{ quote.author }}</h2>
                    <p class="quoted-quote">{{ quote.quote }}</p>
                  </div>
                </div>

                <h3 class="text-center">LEAVE A REVIEW HERE</h3>
                {{ wtf.quick_form(comment_form) }}
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <h2>Testimonials</h2>
            {%for comments in comments%}
           <p> {{comments.comment}}</p> 
            <p>Posted by~{{comments.date}}</p>
            <hr>
            <hr>
            
            {%endfor%}
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<footer class="footer mt-4">
  <div class="social-icons">
    <i class="fa fa-2x fa-facebook"></i>
    <i class="fa fa-2x fa-twitter"></i>
    <i class="fa fa-2x fa-instagram"></i>
  </div>
  <p class="text-center pt-2">Copyright &copy; 2020 Design by Safe boda Group</p>
</footer>

{% endblock %}