{% extends 'base.html'%}

{% import 'bootstrap/wtf.html' as wtf %}
 {%block styles%}
  {{ super() }}
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

{%endblock%}

{% block content %}
<div class="container" style="text-align:center">
     <div class=" col-md-10 col-md-offset-1 col-sm-12">
       <hr>
  </div>
  <div class="well">
    <hr>
    {{wtf.quick_form(comment_form)}}
 </div>
</div>
{% endblock %}